@mixin footerMobile {
    footer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        padding: .25rem;

        .copyright {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            a {
                text-decoration: none;
    
                h3 {
                    font-size: 1.85rem;
                }
            }
            .mention {
                font-family: 'Monaspace Argon';
                font-size: 1.30rem;
                font-weight: 800;
            }
        }

        .legal {
            ul {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                li {
                    a {
                        font-size: large;
                    }
                }
            }
        }

        .social {
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: center;

        }
    }
}