@use 'p.home.mobile'as *;

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


    color: var(--text);
    padding: 2.5rem;
    gap: 2rem;

	section.intro {
        display: flex;
        gap: 1rem;

        background: rgba(255, 255, 255, 0.15);
        border: 0.5px solid rgba(255, 255, 255, 0.14);
        -webkit-backdrop-filter: blur(50px);
        backdrop-filter: blur(50px);

        padding: 1rem;

		.image {
            background-image: url(../../img/ia/api.webp);
            background-size: cover;
            height: inherit;
            width: 10vw;
		}
		.texts {

			strong {
                font-size: 110%;
                margin-bottom: 0.15rem;

			}
			h2 {

			}
			blockquote {

			}
		}
	}
	section.articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;

        min-height: 65vh;

        gap: 2rem;


        .title {

        }

		article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            background: rgba(255, 255, 255, 0.15);
            border: 0.5px solid rgba(255, 255, 255, 0.14);
            -webkit-backdrop-filter: blur(50px);
            backdrop-filter: blur(50px);

            height: auto;
            max-width: 35vw;

            .texts {

                strong {
            
                }
                dl {
            
                }
            }
            

			.link {
                display: flex;
                flex-direction: row-reverse;
                align-content: flex-end;
                .btn-lnk {
                    align-items: flex-end;
                    text-decoration: none;
                    background-color: var(--primary);
                    color: var(--secondary);
                    padding: 0.75rem;
                    margin: 0.25rem;
                    border-radius: 5px;
                }

			}
		}
	}
	section.stats {
        // Triple statistique numérique ici avec animation d'incrémentation.
	}
	section.cta {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

	}
}

@media screen and (max-width: 768px) {
    @include pHomeMobile;
}