@import url("https://fonts.googleapis.com/css2?family=Poppins");
/*====================
    > Variables de couleurs
  ==================== */

* {
    --color-background: #d6d6d6;
    --color-background-alt: #efeded;
    --color-primary: #48007e;
    --color-header: #5e5e5e;
    --color-border: #202020;
    --color-alt: #ffee32;
    --color-text: #FBF0FF;
    --color-text-alt: #0e2431;
    --color-apeal: #e5bb00;
    --color-apeal-alt: #c09d00;
}

.bg-gradient {
  background: var(--color-background);
  background: -moz-radial-gradient(center, var(--color-background-alt) 0%, var(--color-background) 100%);
  background: -webkit-radial-gradient(center, var(--color-background-alt) 0%, var(--color-background) 100%);
  background: radial-gradient(ellipse at center, var(--color-background-alt) 0%, var(--color-background) 100%);
}

header {
  background-color: var(--color-header);
  border-bottom-color: var(--color-border);
}
