body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: auto;
}

header {
    order: 1;
    height: 8vh;
    width: inherit;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}

.logo-header {
    height: 6vh;
}

main {
    order: 2;
    min-height: 92vh;
    width: inherit;

}

footer {
    order: 3;
    height: 10vh;
    width: inherit;

}